beautifulsoup4==4.12.3
chromadb
datasets
delft
discord.py==2.3.2
diskcache==5.6.3
docker_py==1.10.6
fastapi==0.109.2
fastembed==0.2.1
findiff==0.10.0
flaml==2.1.1
huggingface_hub==0.20.3
importlib_metadata==7.0.1
ipython==8.18.1
jupyter_client==8.6.0
lancedb==0.5.5
lmdb==1.2.1
lxml==5.1.0
Markdown==3.5.2
markdownify==0.11.6
matplotlib==3.8.2
nbconvert==7.16.0
nbformat==5.9.2
networkx==3.2.1
numpy==1.24.1
openai==0.27.8
password_generator==0.1.0
pathvalidate==3.2.0
pdfminer==20191125
Pillow==10.2.0
pydantic==1.10.13
pypdf==4.0.1
pytest==7.3.1
python-dotenv==1.0.1
PyYAML==6.0.1
qdrant_client==1.7.3
redis==5.0.1
regex==2023.12.25
replicate==0.23.1
Requests==2.31.0

scipy==1.12.0
transformers==4.37.2
tree_sitter==0.20.0
xmltodict==0.13.0
torch==2.2.0